<div class="panel panel-success">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Name VN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in ViewBag.Items as List<EShop.Models.Supplier>)
            {
                <tr>
                    <td>@Item.Id</td>
                    <td>@Item.Name</td>
                    <td>@Item.Email</td>
                    <td>@Item.Logo</td>
                    <td>@Item.Phone</td>
                    <td>
                        <a class="btn btn-sm btn-default" href="@ViewBag.Controller/Edit/@Item.Id">
                            <span class="glyphicon glyphicon-star"></span> Edit
                        </a>
                        <a class="btn btn-sm btn-default" href="@ViewBag.Controller/Delete/@Item.Id">
                            <span class="glyphicon glyphicon-star"></span> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

