<div class="panel panel-success">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>CustomerId</th>
                <th>OrderDate</th>
                <th>Receiver</th>
                <th>Address</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="order">
            @foreach (var Item in ViewBag.Items as List<EShop.Models.Order>)
            {
                <tr data-id="@Item.Id">
                    <td>@Item.Id</td>
                    <td>@Item.CustomerId</td>
                    <td>@Item.OrderDate</td>
                    <td>@Item.Receiver</td>
                    <td>@Item.Address</td>
                    <td>@Item.Amount</td>
                    <td>
                        <a class="btn btn-sm btn-default" href="@ViewBag.Controller/Edit/@Item.Id">
                            <span class="glyphicon glyphicon-star"></span> Edit
                        </a>
                        <a class="btn btn-sm btn-default" href="@ViewBag.Controller/Delete/@Item.Id">
                            <span class="glyphicon glyphicon-star"></span> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#order tr").dblclick(function () {
            var id = $(this).attr("data-id");
            location.href = "@ViewBag.Controller/Edit/"+id;
        });
    });
</script>