@using EShop.i18n
<ul class="pager">
    <li><a href="#">@Global.First</a></li>
    <li><a href="#">@Global.Previous</a></li>
    <li><a></a></li>
    <li><a href="#">@Global.Next</a></li>
    <li><a href="#">@Global.Last</a></li>
</ul>
<div class="panel panel-success">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Global.Id</th>
                <th>@Global.Name</th>
                <th>@Global.UnitPrice</th>
                <th>@Global.UnitBrief</th>
                <th>@Global.Discount</th>
                <th>@Global.Special</th>
                <th>@Global.Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="page">
            
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var data = { PageSize: pageSize };
        $.ajax({
            url: "@ViewBag.Controller/GetPageCount",
            data: data,
            success: function (response) {
                pageCount = response;
                loadPage();
            }
        });

        $(".pager li:eq(0)").click(function () {
            pageNo = 0;
            loadPage();
        });
        $(".pager li:eq(1)").click(function () {
            pageNo--;
            loadPage();
        });
        $(".pager li:eq(3)").click(function () {
            pageNo++;
            loadPage();
        });
        $(".pager li:eq(4)").click(function () {
            pageNo = pageCount - 1;
            loadPage();
        });
    });

    var pageNo = 0;
    var pageSize = 6;
    var pageCount = 0;
    function loadPage() {
        $.ajax({
            url: "@ViewBag.Controller/GetPage",
            data: {PageNo: pageNo, PageSize: pageSize},
            success: function (response) {
                $("#page").html(response);
                $(".pager a:eq(2)").html((pageNo + 1) + "/" + pageCount);
            }
        });
    }
</script>