@using EShop.i18n
@model EShop.Models.Category

@using (Html.BeginForm())
{
    <div class="panel panel-danger">
        <div class="panel-heading">@TempData["Message"]</div>
        <div class="panel-body">
            <div class="form-group">
                <label>@Global.Id</label>
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>@Global.Name</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>@Global.NameVN</label>
                @Html.TextBoxFor(m => m.NameVN, new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer">
            @Html.Partial("_Buttons")
        </div>
    </div>
}

