@foreach (var Item in ViewBag.Items as List<EShop.Models.Product>)
{
    <tr>
        <td>@Item.Id</td>
        <td>@Item.Name</td>
        <td>@Item.UnitPrice</td>
        <td>@Item.UnitBrief</td>
        <td>@Item.Discount</td>
        <td>@Item.Special</td>
        <td>@Item.Category.NameVN</td>
        <td>
            <a class="btn btn-sm btn-default" href="/Admin/Product/Edit/@Item.Id">
                <span class="glyphicon glyphicon-star"></span> Edit
            </a>
            <a class="btn btn-sm btn-default" href="/Admin/Product/Delete/@Item.Id">
                <span class="glyphicon glyphicon-star"></span> Delete
            </a>
        </td>
    </tr>
}